.main-page-wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/home-bg-image-line-gradient.png");
    background-position: calc(50% + 0px) calc(0% - 540px);
    background-repeat: no-repeat;
}